---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: bucketclaims.objectstorage.k8s.io
spec:
  group: objectstorage.k8s.io
  names:
    kind: BucketClaim
    listKind: BucketClaimList
    plural: bucketclaims
    singular: bucketclaim
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              bucketClassName:
                description: Name of the BucketClass
                type: string
              existingBucketName:
                description: |-
                  Name of a bucket object that was manually
                  created to import a bucket created outside of COSI
                  If unspecified, then a new Bucket will be dynamically provisioned
                type: string
              protocols:
                description: |-
                  Protocols are the set of data API this bucket is required to support.
                  The possible values for protocol are:
                  -  S3: Indicates Amazon S3 protocol
                  -  Azure: Indicates Microsoft Azure BlobStore protocol
                  -  GCS: Indicates Google Cloud Storage protocol
                items:
                  type: string
                type: array
            required:
            - protocols
            type: object
          status:
            properties:
              bucketName:
                description: |-
                  BucketName is the name of the provisioned Bucket in response
                  to this BucketClaim. It is generated and set by the COSI controller
                  before making the creation request to the OSP backend.
                type: string
              bucketReady:
                description: |-
                  BucketReady indicates that the bucket is ready for consumpotion
                  by workloads
                type: boolean
            required:
            - bucketReady
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
