---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: bucketclasses.objectstorage.k8s.io
spec:
  group: objectstorage.k8s.io
  names:
    kind: BucketClass
    listKind: BucketClassList
    plural: bucketclasses
    singular: bucketclass
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          deletionPolicy:
            default: Retain
            description: |-
              DeletionPolicy is used to specify how COSI should handle deletion of this
              bucket. There are 2 possible values:
               - Retain: Indicates that the bucket should not be deleted from the OSP
               - Delete: Indicates that the bucket should be deleted from the OSP
                     once all the workloads accessing this bucket are done
            type: string
          driverName:
            description: DriverName is the name of driver associated with this bucket
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          parameters:
            additionalProperties:
              type: string
            description: |-
              Parameters is an opaque map for passing in configuration to a driver
              for creating the bucket
            type: object
        required:
        - deletionPolicy
        - driverName
        type: object
    served: true
    storage: true
