---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  cosi.storage.k8s.io/authors: "Kubernetes Authors"
  cosi.storage.k8s.io/license: "Apache V2"
  cosi.storage.k8s.io/support: "https://github.com/kubernetes-sigs/container-object-storage-api"
  controller-gen.kubebuilder.io/version: (devel)
  api-approved.kubernetes.io: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1979-object-storage-support


resources:
- crds/objectstorage.k8s.io_bucketaccesses.yaml
- crds/objectstorage.k8s.io_bucketaccessclasses.yaml
- crds/objectstorage.k8s.io_bucketclasses.yaml
- crds/objectstorage.k8s.io_bucketclaims.yaml
- crds/objectstorage.k8s.io_buckets.yaml
